.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  background: transparent;
  height: 30px;
  width: 30px;
  color: currentColor;
  filter: var(--dim);
  font-size: 20px;
}

.button:focus-visible,
.button:hover {
  filter: unset;
}
