.word {
  font-size: 12pt;
  margin: 4px;
  color: #333;
  font-weight: 700;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 4px 8px;
}

.revealed {
  border-color: var(--missed-word-color);
}

.pangram::after {
  content: " ⭐️";
  text-shadow: 0px 0px 2px var(--pangram-color);
  font-size: 10pt;
}

.word:hover,
.word:focus-visible {
  border-color: #ccc;
}
