.avatarButton {
  background-color: transparent;
  border: 0;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.providersContainer {
  text-align: center;
}

.provider {
  font-size: 30px;
  background-color: transparent;
  border: 1px solid #999;
  border-radius: 4px;
  margin: 8px;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.logOut {
  padding: 4px 8px;
  border: 1px solid #000a;
  border-radius: 5px;
  background: var(--center-letter-color);
  color: #000;
  font-size: 12pt;
  transition: all 0.2s;
  cursor: pointer;
}
