.button {
  font-size: 30px;
  border: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  color: currentColor;
  filter: var(--dim);

  cursor: pointer;
}

.button:hover,
.button:focus-visible {
  filter: unset;
}
