.container {
  margin-bottom: 8px;
}

.container button {
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 12pt;
  transition: all 0.2s;
  cursor: pointer;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.deleteAccount {
  border: 1px solid #000a;
  color: #000;
}

.cancelButton {
  border: 1px solid #000a;
  background: var(--center-letter-color);
  color: #000;
}

.confirmButton {
  border: 1px solid #d42000;
  color: #d42000;
  font-weight: 700;
}

.confirmButton:hover,
.confirmButton:focus {
  border-color: #fff;
  color: #fff;
  background-color: #d42000;
}
