.container {
  border-top: 1px solid #999;
  padding-top: 8px;
  border-bottom: 1px solid #999;
  padding-bottom: 8px;

  flex: 1;
  display: flex;
  flex-direction: row;
  overflow-y: auto;
}

.wordList {
  flex: 1;

  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: flex-start;
  max-height: 100%;

  overflow-y: auto;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.count {
  font-size: 12pt;
  margin: 8px 12px;
  color: #666;
}
