.container {
  height: min-content;
}

.grid {
  width: 100%;
  table-layout: fixed;
}

.grid td {
  text-align: center;
}

.grid .border {
  font-weight: 700;
}

.grid .letter {
  text-transform: uppercase;
}

.filler {
  color: #999;
}

.header {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px 64px;
}

.header button {
  margin: 0px;
}

.mode {
  flex: 1;
  border: 1px solid #ccc;
  background-color: transparent;
}

.active {
  background-color: var(--center-letter-color);
}

.header button:first-child {
  border-radius: 8px 0px 0px 8px;
  border-right: 0px;
}

.header button:nth-child(3) {
  border-radius: 0px 8px 8px 0px;
  border-left: 0px;
}
