.container {
  position: absolute;
  top: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  margin: 0 auto;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container span {
  background-color: #000a;
  color: white;
  font-weight: bold;
  font-size: 12pt;
  padding: 8px;
  border-radius: 4px;
}

.container span.pangram {
  background-color: var(--center-letter-color);
  color: currentColor;
}

.container span.points {
  background-color: transparent;
  color: currentColor;
}
