.avatarButton {
  background-color: transparent;
  border: 0;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.providersContainer {
  text-align: center;
}

.providersContainer button {
  padding: 0px;
}

.provider {
  font-size: 30px;
  background-color: transparent;
  border: 1px solid #999;
  border-radius: 4px;
  margin: 8px;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  color: currentColor;
  filter: var(--dim);
}

.provider:focus-visible,
.provider:hover {
  filter: unset;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 8px;
}

.logOut {
  padding: 4px 8px;
  border: 1px solid #000a;
  border-radius: 5px;
  background: var(--center-letter-color);
  color: #000;
  font-size: 12pt;
  cursor: pointer;
}

.logOut:focus-visible,
.logOut:hover {
  box-shadow: 0px 0px 8px var(--center-letter-color);
}
