.reveal {
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  background: transparent;
  height: 30px;
  width: 30px;
  color: currentColor;
  filter: var(--dim) saturate(0%);
  font-size: 20px;
}

.reveal:disabled:hover,
.reveal:disabled:focus-visible {
  cursor: not-allowed;
}

.reveal:hover,
.reveal:focus-visible {
  background-color: rgb(53, 129, 53);
  filter: unset;
}

.revealContainer {
  width: 100%;
  padding: 0;
  text-align: center;
}

.revealContainer button {
  padding: 8px 16px;
  border: 1px solid #000a;
  border-radius: 5px;
  background: var(--center-letter-color);
  color: #000;
  font-size: 14pt;
  cursor: pointer;
}

.revealContainer button:hover,
.revealContainer button:focus-visible {
  background-color: var(--center-letter-color-hover);
  box-shadow: 0px 0px 8px var(--center-letter-color);
}
