.guess {
  font-size: 16pt;
  font-weight: 700;
  text-transform: uppercase;
}

.letterButton {
  text-transform: uppercase;
  font-size: 16pt;
  padding: 8px;
}

.centerLetter {
  font-weight: 700;
}

.letterButtons {
  text-align: center;
}

.controls button {
  font-size: 16pt;
}
