.column {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 400px;

  margin-right: 100px;
  border-radius: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  border: 1px solid var(--subtle-border);
}

.header {
  border-bottom: 1px solid var(--subtle-border);
}

.header {
  height: min-content;
}

@media (max-width: 800px) {
  .column {
    width: 90%;
    margin: 0 auto;
    height: auto;
  }
}
