.wordList {
  flex: 1;
  overflow-y: auto;
  column-count: auto;

  list-style: none;
  padding-inline-start: 4px;
  padding-inline-end: 4px;
  column-count: 2;

  border-top: 2px solid #999;
  padding-top: 8px;
  border-bottom: 2px solid #999;
  padding-bottom: 8px;
}

.wordList li {
  font-size: 12pt;
  margin: 8px;
}

.wordList li a {
  color: #333;
  font-weight: 700;
  text-decoration: none;
}

.wordList li a:hover,
.wordList li a:focus {
  text-decoration: underline;
}
