.header {
  text-align: center;
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.header h1 {
  font-weight: 700;
  color: currentColor;
  margin: 0;
}

.header h1 a,
.header h1 a:visited {
  color: currentColor;
  cursor: pointer;
  text-decoration: none;
}

.header h1 a:hover,
.header h1 a:focus {
  text-decoration: underline;
}
