.button {
  font-size: 30px;
  border: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  color: #999;

  transition: all 0.2s;

  cursor: pointer;
}

.button:hover,
.button:focus {
  color: #000;
}
