.container {
  padding: 0 16px;
  display: flex;
  flex-direction: row;
  height: min-content;
  flex-grow: 0;
}

.bars {
  flex: 1;
}

.bars progress {
  display: block;
  width: 100%;
}

.help {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  background: transparent;
  height: 30px;
  width: 30px;
  transition: all 0.2s;
  color: #999;
  font-size: 20px;
  margin-left: 16px;
}

.help:focus,
.help:hover {
  color: #000;
}
