.container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
}

.gameContainer {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
}

.buttonsContainer {
  flex: 1;
  padding-top: 50px;
  position: relative;
}

@media (max-width: 800px) {
  .gameContainer {
    flex-direction: column;
  }

  .buttonsContainer {
    padding-top: 0px;
  }
}
