.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header button {
  height: 50px;
  width: 30px;

  border: 0;
  background-color: transparent;
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.center {
  flex: 1;
  margin-left: 16px;
  margin-right: 16px;
}

.monthGrid {
  display: grid;
  grid-template-columns: repeat(7, 40px);
  grid-template-rows: repeat(7, 40px);
}

.dateButton {
  border: 2px solid transparent;
  background-color: transparent;
  color: currentColor;
  border-radius: 4px;
  transition: filter 0.25s;
  transition: border-color 0.25s;
}

.dateButton:hover,
.dateButton:focus-visible {
  border-color: var(--subtle-border);
}

button.todayButton {
  background-color: var(--center-letter-color);
  color: #000;
}

.currentButton {
  border: 2px solid hsl(from var(--center-letter-color) h s calc(l * 0.7));
}

.dayHeader {
  color: #666;
  font-size: 10pt;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
