:root {
  --center-letter-color: #ffd240;
  --center-letter-color-hover: #deb635;
  --button-diameter: 60px;
  --control-button-height: 30px;
  --pangram-color: var(--center-letter-color-hover);
  --missed-word-color: #b81f0099;
}

.no-scroll {
  overflow: hidden;
}

@media (pointer: coarse) {
  :root {
    --button-diameter: 70px;
    --control-button-height: 40px;
  }
}
